* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.BGSC {
    width: 100%;
    height: 100vh;
    background-image: url(https://i.pinimg.com/originals/3e/ff/de/3effde879b5e7849e190923cf1f86916.jpg);
    background-size: cover;
    background-position: center;  
}
.navbar {
    width: 80%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: auto;
    display: flex;
}
.logo {
    width: 600px;
    cursor: pointer;
    background-color: navajowhite;
}
.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 100px;
    font-size: 60px;
    position: relative;
}
.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.navbar ul li::after {
    content: '';
    height: 7px;
    left: 0;
    bottom: -20px;
    width: 100%;
    background: rgb(25, 1, 128);
    position: absolute;
}
.content {
    width: 100%;
    position: relative;
    top: 56%;
    left: 5%;
    justify-content: center;
    font-size: 70px;
    text-align: left;
    color: black;
}
.content p {
    font-size: 50px;
    color: blue;
}
